.ship {
  position: relative;
  height: auto;
  width: 100vw;
  background-color: #f1f1f1;
  overflow: hidden;

  .imageContainer {
    position: relative;
    width: 100vw;
    height: 100vh;

    img {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      will-change: transform;
    }
  }
}