.boat {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .imageContainer {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
}

